# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/bnhs2457/public_html/shadow.ark-france.fr"
PassengerBaseURI "/"
PassengerNodejs "/home/bnhs2457/nodevenv/public_html/shadow.ark-france.fr/22/bin/node"
PassengerAppType node
PassengerStartupFile server/index.js
PassengerEnabled on
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END

<Files ".env">
  Require all denied
</Files>

<IfModule mod_deflate.c>
  AddOutputFilterByType DEFLATE text/html text/css application/javascript application/json image/svg+xml
</IfModule>

<IfModule mod_expires.c>
  ExpiresActive On
  ExpiresByType text/css "access plus 1 year"
  ExpiresByType application/javascript "access plus 1 year"
  ExpiresByType image/jpeg "access plus 1 year"
  ExpiresByType image/png "access plus 1 year"
  ExpiresByType image/svg+xml "access plus 1 year"
  ExpiresByType image/webp "access plus 1 year"
  ExpiresByType font/woff2 "access plus 1 year"
</IfModule>
